:root {
  --lightcyan: hsl(193, 38%, 86%);
  --neongreen: hsl(150, 100%, 66%);
  --grayishblue: hsl(217, 19%, 38%);
  --darkgrayishblue: hsl(217, 19%, 24%);
  --darkblue: hsl(218, 23%, 16%);
}

html,
body {
  margin: 0px;
  height: 100%;
  font-family: "Manrope", sans-serif;
}

body {
  background-color: var(--darkblue);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.advice-box {
  width: 560px;
  border-radius: 20px;
  padding: 20px;
  background-color: var(--darkgrayishblue);
  display: grid;
  grid-template-rows: 80px 3fr 1fr 30px;
}

p {
  color: var(--neongreen);
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 14px;
  justify-self: center;
  align-self: end;
}

h1 {
  color: var(--lightcyan);
  text-align: center;
}

footer {
  position: relative;
  bottom: -200px;
  color: var(--lightcyan);
}

.advice-quote {
  width: 100%;
  height: 200px;
}

.box-hr {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  justify-self: center;
  width: 100%;
}

.box-line {
  height: 1px;
  width: 45%;
  background-color: var(--grayishblue);
  transition: background-color 0.5s;
}

.box-boldline {
  width: 5px;
  height: 15px;
  border-radius: 25px;
  background-color: var(--lightcyan);
}

button {
  width: 70px;
  height: 70px;
  border-radius: 50px;
  border: none;
  background-color: var(--neongreen);
  position: relative;
  left: 265px;
  top: -35px;
  transition: box-shadow 0.5s;
}

#btn:hover {
  -webkit-box-shadow: 0px 1px 50px 0px var(--neongreen);
  -moz-box-shadow: 0px 1px 50px 0px var(--neongreen);
  box-shadow: 0px 1px 50px 0px var(--neongreen);
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--neongreen);
}

.on-line {
  background-color: var(--neongreen);
  -webkit-box-shadow: 0px 1px 100px 0px var(--neongreen);
  -moz-box-shadow: 0px 1px 100px 0px var(--neongreen);
  box-shadow: 0px 1px 100px 0px var(--neongreen);
}

@media screen and (max-width: 620px) {
  .advice-box {
    width: 300px;
    height: 300px;
    grid-template-rows: 40px 2fr 1fr 30px;
  }

  button {
    left: 135px;
  }

  h1 {
    font-size: 27px;
  }

  footer {
    bottom: -100px;
    text-align: center;
  }

  .box-line {
    width: 43%;
  }
}
